.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
  display: flex;

  justify-content: center; /* Como dispaly: flex; es el valor por defecto, los elementos hijos se alinean horizontalmente. */ 
  align-items: center; /* Alinea los elementos hijos verticalmente al centro del contenedor padre */

}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
}